# Visual Studio
.vs/
*.user
*.suo
*.pidb
*.userprefs
*.vspscc
*.vssscc
_ReSharper*/
*.resharper

# Build artifacts
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# Content Pipeline
CompiledContent/
*.cachefile

# OS junk files
[Tt]humbs.db
*.DS_Store

# Other temporary files
*.log
*.bak
*.cache